<% if current_user.nil? %>
    <div class="main-landing-content">
      <h1><span class="newsBanner">Image-editing playground inside.</span></h1>
      <h4><span>If you have a moment, sign up.</span></h4>
      <h4><a href="#"><div class="branding_image"></div></a></h4>
    </div>

<% else %>

    <!--WHOLE PROFILE PAGE -TO CHANGE THE LAYOUT, COLLAPSE AND DELETE THIS DIV AND RECODE-->
    <div class="profile_page">
      <!--JUMBOTRON TRENDING CONTENT ACCORDIAN-->
      <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">

          </div>
          <div id="collapseFour" class="panel-collapse collapse"  role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="col-lg-12">

                <%= render partial: 'layouts/carousel' %>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!--USER LOGIN LANDING PAGE-->
      <div class="col-lg-12">
        <!--THIS IS THE CODE FOR OUR PLUGIN TOOLBAR-->
        <div class="col-lg-1">
          <h5>TOOLS/ will be placed in different view.</h5>
          <%= render partial: 'layouts/user_toolbar' %>

        </div><!--This is end of toolbar-->

        <div class="col-lg-8">
          <section class="profile_box col-lg-12">
            <div class="col-lg-12">
              <div class="profile_main_col">
                <div class="row">
                  <div class="col-lg-12"> <!--THIS IS THE NAV MENU GRAPHICAL DISPLAY FROM TRENT-->

                    <div class="col-xs-12 col-sm-6 col-lg-4">
                      <div class="box">
                        <div class="icon">
                          <div class="image"><span class="glyphicon glyphicon-list-alt btn-lg white"></span></div>
                          <div class="info">
                            <h3 class="title">CANVAS</h3>
                            <p>
                              LET'S MAKE A NEW CREATION!!
                            </p>
                            <div class="more">
                              <a href="#" title="Title Link"><i class="fa fa-plus"></i> Details
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="space"></div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                      <div class="box">
                        <div class="icon">
                          <div class="image"><span class="glyphicon glyphicon-envelope btn-lg white"></span></div>
                          <div class="info">
                            <h3 class="title">Messages</h3>
                            <p>
                              7 new messages over the past 24 hours.
                            </p>
                            <div class="more">
                              <a href="#" title="Title Link"><i class="fa fa-plus"></i> Details
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="space"></div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                      <div class="box">
                        <div class="icon">
                          <div class="image"><span class="glyphicon glyphicon-volume-up btn-lg white"></span></div>
                          <div class="info">
                            <h3 class="title">Mentions</h3>
                            <p>
                              47 new mentions for the past week.
                            </p>
                            <div class="more">
                              <a href="#" title="Title Link"><i class="fa fa-plus"></i> Details
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="space"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- THIS IS WHERE TABS WILL BEGIN-->

                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#tabs-1">TOP TRENDING SQRIBLES </a></li>
                  <li><a data-toggle="tab" href="#tabs-2">CHECK FRIENDS SQRIBBLES!!!</a></li>
                </ul>

                <div class="tab-content">
                  <div id="tabs-1" class="tab-pane fade in active">
                    <div id="main_feed">
                      <h2>Top Sqribbles</h2>

                      <%= render partial: 'layouts/carousel' %>

                    </div>
                  </div>
                  <div id="tabs-2" class="tab-pane fade">
                    <div id="friend_feed">
                      <h2>Friend Feed</h2>
                      <%= render partial: 'layouts/carousel' %>

                    </div>
                  </div>
                  </div>




                <!--THIS IS THE END OF THE TABS MAIN PAGE AREA--->

                <div id="result_feed">
                  <div class="container">
                    <div class="row">
                      <div class="text-center">
                        <h1>Results Feed</h1>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="well">
                            <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h9.jpg" />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="well">
                            <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h8.jpg" />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="well">
                            <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h4.jpg" />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="well">
                            <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h7.jpg" />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="well">
                            <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h3.jpg" />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="well">
                            <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h6.jpg" />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="well">
                            <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h1.jpg" />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="well">
                            <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h2.jpg" />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="well">
                            <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h5.jpg" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>


              </div>
            </div>
          </section>
        </div>





        <div class="friendsList_box col-lg-3">
          <div class="user_albums">
            <h3>Albums</h3>
            <!--THESE DIVS ARE FOR THE ACCORDIAN-->
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Album #1
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <a href="#"><img src="" alt="img1"></a>
                    <a href="#"><img src="" alt="img2"></a>
                    <a href="#"><img src="" alt="img3"></a>
                    <a href="#"><img src="" alt="img4"></a>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Album #2
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <a href="#"><img src="" alt="img1"></a>
                    <a href="#"><img src="" alt="img2"></a>
                    <a href="#"><img src="" alt="img3"></a>
                    <a href="#"><img src="" alt="img4"></a>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Album #3
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <a href="#"><img src="" alt="img1"></a>
                    <a href="#"><img src="" alt="img2"></a>
                    <a href="#"><img src="" alt="img3"></a>
                    <a href="#"><img src="" alt="img4"></a>
                  </div>
                </div>
              </div>
            </div>
          </div><!--END ALBUMS-->

          <div class="Friends">
            <h3>Friends</h3>
            <ul>
              <li><a href="#">Friend1</a> <img src="#" alt="friend1 profile picture"></li>
              <li><a href="#">Friend2</a> <img src="#" alt="friend2 profile picture"></li>
              <li><a href="#">Friend3</a> <img src="#" alt="friend3 profile picture"></li>
              <li><a href="#">Friend4</a> <img src="#" alt="friend4 profile picture"></li>
              <li><a href="#">Friend5</a> <img src="#" alt="friend5 profile picture"></li>
              <li><a href="#">Friend6</a> <img src="#" alt="friend6 profile picture"></li>
              <li><a href="#">Friend7</a> <img src="#" alt="friend7 profile picture"></li>
              <li><a href="#">Friend8</a> <img src="#" alt="friend8 profile picture"></li>
              <li><a href="#">Friend9</a> <img src="#" alt="friend9 profile picture"></li>
              <li><a href="#">Friend10</a> <img src="#" alt="friend10 profile picture"></li>
            </ul>
          </div>
        </div>

      </div><!--END LOGIN LANDING PAGE-->

      <div class="user_upload_section col-lg-12">























        <div class="col-lg-3">
          <div class="quick_nav">
            <ul id="menu-v">
              <li><a href="#">Item 1</a></li>
              <li><a href="#">Item 2</a></li>
              <li><a href="#">Item 3</a></li>
              <li><a href="#">Item 4</a></li>
              <li><a href="#">Item 5</a></li>
              <li><a href="#">Item 6</a></li>
              <li><a href="#">Item 7</a></li>
              <li><a href="#">Item 8</a></li>
              <li><a href="#">Item 9</a></li>
              <li><a href="#">Item 10</a></li>
              <li><a href="#">Item 11</a></li>
              <li><a href="#">Item 12</a></li>
            </ul>
          </div>
        </div><!--end column one-->

        <div class="col-lg-6">
          <form class="user_upload_form">
            <label for="profile_avatar">Profile Image:</label>
            <input type="file" name="profile_avatar">
            <div class="col-lg-12">
              <label for="profile_about_me">A little about yourself:</label>

              <div class="col-lg-12">
                <%= text_area 'about_me_insert', @about_me %><br/><br/>           <!-- :class => "tinymce"-->
              </div>
            </div>
          </form>
        </div>

        <div class="col-lg-3">
          <nav>
            <ul>
              <li><a href="#">USER PROFILE</a></li>
              <li><a href="#">USER SETTINGS</a></li>
              <li><a href="#">FIND A FRIEND</a></li>
              <li><a href="#">FIND AN IMAGE</a></li>
              <li><a href="#">CONTACT A FRIEND</a></li>
              <li><a href="#">CONTACT SCRIBBLER</a></li>
            </ul>
          </nav>
        </div>
      </div>


      <!--side swipe nav-->
      <%= render partial: 'layouts/swipe_menu' %>
        <!--end mystery block of code-->

    </div><!--end profile page
<% end %>
