<%= tinymce_assets %>
<%= tinymce %>

<% if current_user.nil? %>
    <div class="main-landing-content">
      <h1><span class="newsBanner">Image-editing playground inside.</span></h1>
      <h4><span>If you have a moment, sign up.</span></h4>
      <h4><a href="#">
        <div class="branding_image"></div>
      </a></h4>
    </div>

<% else %>

    <!--WHOLE PROFILE PAGE -TO CHANGE THE LAYOUT, COLLAPSE AND DELETE THIS DIV AND RECODE-->
    <div class="profile_page">
      <!--JUMBOTRON TRENDING CONTENT ACCORDIAN-->
      <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                Trending Scribbles
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="col-lg-12">

                <%= render partial: 'layouts/carousel' %>


              </div>
            </div>
          </div>
        </div>
      </div>
      <!--USER LOGIN LANDING PAGE-->
      <div class="col-lg-12">
        <div class="col-lg-8">
          <section class="profile_box col-lg-12">
            <div class="col-lg-4">
              <a href="#">
                <div class="profile_image"></div>
              </a>
            </div>
            <div class="col-lg-8">
              <h1><%= @user.username %></h1>
              <h3><%= @user.first_name %> <%= @user.last_name %></h3>
              <span>Joined <%= @user.created_at.strftime('%m/%d/%Y') %></span>
              <h3><%= @user.location %></h3>
              <h5><a href="#">YourCompany.com</a></h5>
              <h5><a href="#"><%= @email %></a></h5>
            </div>
            <section class="col-lg-12">
              <div class="col-lg-4">
              </div>
              <div class="col-lg-3">
                <p>Scribbles:&nbsp;<span>185</span></p>
              </div>
              <div class="col-lg-5">
                <% unless current_user.nil? %>
                    <% if current_user.is_following?(@user) %>
                        <p><%= link_to 'Unfollow', friendship_path(@user), method: :delete, class: 'btn btn-primary' %></p>
                    <% else %>
                        <p><%= link_to 'Follow', friendships_path(:friend_id => @user), method: :post, class: 'btn btn-primary' %></p>
                    <% end %>
                <% end %>
                <section class="col-lg-12">
                  <div class="col-lg-5">
                    <%= link_to 'followers: '+@user.inverse_friends.count.to_s, user_followers_path(@user.username) %>
                  </div>
                  <div class="col-lg-5">
                    <%= link_to 'following: '+@user.friends.count.to_s, user_following_path(@user.username) %>
                  </div>
                </section>
              </div>
            </section>
          </section>


          <section class="col-lg-12">
            <h3>About Me</h3>

            <p>I can't recall where I grew up, but I do know when. Much of my first memories I don't expect to come back
              to me.
              What can I remember? Cold. I was ice. A barely conscious thought slipped from the nothing-black of my mind
              and by some<br>
              miracle, stayed lit. I couldn't open my eyes, they were frozen shut. I became worried if I moved, I would
              break my skin.<br>
              In those moments <i>just above black</i> as I like to call it, your mind isn't working or thinking
              logically. As though a shred of my old life<br>
              was still with me, I could feel that there was a weapon somewhere beside me, and I needed it. -creative
              quotes-</p>
          </section>
        </div>
        <%= render partial: 'layouts/friends_box' %>

        <!----AREA FOR THE USER EDIT FORM ---->




      </div>

      <%= render partial: 'layouts/profile_form' %>
      <!---------END EDIT USER FORM-------------------->

      <!--side swipe nav-->
      <%= render partial: 'layouts/swipe_menu' %>
      <!--end profile--><!--end mystery block of code-->
    </div><br/><!--end profile page
    <%= render partial: 'layouts/footer' %>
<% end %>