<%= tinymce_assets %>
<%= tinymce %>

<%= form_for(@image, html: {multipart: true}) do |f| %>
    <% if @image.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

          <ul>
            <% @image.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="field">
      <%= f.label :attachment %><br>
      <%= f.file_field :attachment %>
    </div>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :albums, 'Add to albums' %> <br/>
      <select name="album_titles[]" class="album_search_ajax" data-username="<%= current_user.username %>" style="width: 20em;" data-placeholder="Search albums" multiple="">
        <% @image.albums.each do |img_album| %>
            <option selected="selected"><%= img_album.title %></option>
        <% end %>
      </select>
    </div>

    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, :class => "tinymce" %>
    </div>
    <style>
      #map {
        height: 400px;
      }
    </style>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZR1XYrTEbFF5Kpfkpoj41aTeME3TUhwQ&callback=initMap"
            async defer></script>

    <script>
      var current_location = null;
      <% unless @image.longitude.nil? && @image.latitude.nil? %>
        current_location =  {
          latitude: <%= @image.latitude %>,
          longitude: <%= @image.longitude %>
        };
      <% end %>

      var position = {
        latitude: null,
        longitude: null,
        googleLatLng: null,
        marker: null,
        map: null,
        update: function(lat, lng){
          this.latitude = lat;
          this.longitude = lng;
          this.googleLatLng = new google.maps.LatLng(lat, lng);
          if (this.marker === null){
            this.marker = new google.maps.Marker({position: this.googleLatLng, map: this.map, draggable: true});
            this.marker.setMap(this.map);
          } else {
            this.marker.setPosition(this.googleLatLng);
          }
          this.update_text();
        },
        update_text: function(){
          document.getElementById('image_latitude').value = this.latitude;
          document.getElementById('image_longitude').value = this.longitude;
        }
      };
      var added_drag_event = false;
      function initMap() {
        position.map = new google.maps.Map(document.getElementById('map'), {
          center: new google.maps.LatLng(39, -95),
          zoom: 4
        });

        if (current_location !== null){
          position.update(current_location.latitude, current_location.longitude);
        }

        google.maps.event.addListener(position.map, "click", function (event) {
          position.update(event.latLng.lat(), event.latLng.lng())
          if (!added_drag_event){
            google.maps.event.addListener(position.marker, 'dragend', function (event) {
              position.update(position.marker.position.lat(), position.marker.position.lng())
            });
            added_drag_event = true;
          }
        });
      }

      $(document).ready(function () {
        if (navigator.geolocation) {
          var startPos;
          var geoSuccess = function (pos) {
            startPos = pos;
            position.update(startPos.coords.latitude, startPos.coords.longitude);
          };
          navigator.geolocation.getCurrentPosition(geoSuccess);
        }
      });

      var toDecimal = function (number) {
        return number[0].numerator + number[1].numerator /
            (60 * number[1].denominator) + number[2].numerator / (3600 * number[2].denominator);
      };

      document.getElementById("image_attachment").onchange = function(e) {
        EXIF.getData(e.target.files[0], function() {
          var tags = EXIF.getAllTags(this);
          var GPSLatitude = EXIF.getTag(this, 'GPSLatitude');
          var GPSLongitude = EXIF.getTag(this, 'GPSLongitude');

          if (GPSLatitude !== undefined && GPSLongitude !== undefined){
            /* make longitude negative */
            position.update(toDecimal(GPSLatitude), -toDecimal(GPSLongitude));
          }
          jQuery('#exif_key_values').show();
          var table_content = jQuery('#exif_key_values').find('tbody');
          table_content.empty();
          for (var key in tags) {
            if (tags.hasOwnProperty(key)) {
              var row = jQuery('<tr>');
              row.append(jQuery('<td>').text(key));
              row.append(jQuery('<td>').text(tags[key]));
              table_content.append(row);
            }
          }
          //alert(EXIF.pretty(this));
        });
      }

    </script>

    <!-- TODO: change the default width from 100% -->
    <div class="field">
      <%= f.label :latitude %>
      <%= f.number_field :latitude, step: :any %>
    </div>

    <div class="field">
      <%= f.label :longitude %>
      <%= f.number_field :longitude, step: :any %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

    <div class="panel panel-default" id="exif_key_values" style="display: none">
      <!-- Default panel contents -->
      <div class="panel-heading">Image EXIF data</div>
      <!-- Table -->
      <table class="table">
        <thead>
        <tr>
          <th>key</th>
          <th>value</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>


<% end %>
