<%= tinymce_assets %>
<%= tinymce %>

<%= form_for(@image, html: {multipart: true}) do |f| %>
    <% if @image.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

          <ul>
            <% @image.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="field">
      <%= f.label :attachment %><br>
      <%= f.file_field :attachment %>
    </div>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :albums, 'Add to albums' %> <br/>
      <select name="album_titles[]" class="album_search_ajax" data-username="<%= current_user.username %>" style="width: 20em;" data-placeholder="Search albums" multiple="">
        <% @image.albums.each do |img_album| %>
            <option selected="selected"><%= img_album.title %></option>
        <% end %>
      </select>
    </div>

    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, :class => "tinymce" %>
    </div>
    <style>
      #map {
        height: 400px;
      }
    </style>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZR1XYrTEbFF5Kpfkpoj41aTeME3TUhwQ&callback=initMap"
            async defer></script>


    <script>
      console.log("loading map");
      var map;
      var marker;
      var position;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: new google.maps.LatLng(39, -95),
          zoom: 4
        });

        google.maps.event.addListener(map, "click", function (event) {

        });

        google.maps.event.addListener(marker, 'dragend', function (event) {
          if (marker){
              position = new google.maps.LatLng( this.getPosition().lat(), this.getPosition().lng() );
            marker.setPosition( position );
          }
        });
      }

      $(document).ready(function () {
        if (navigator.geolocation) {
          var startPos;
          var geoSuccess = function (position) {
            startPos = position;
            document.getElementById('image_latitude').value = startPos.coords.latitude;
            document.getElementById('image_longitude').value = startPos.coords.longitude;

            var myLatLng = new google.maps.LatLng(startPos.coords.latitude, startPos.coords.longitude);
            marker = new google.maps.Marker({position: myLatLng, map: map, draggable: true});
            marker.setMap(map);
            map.panTo(myLatLng);
          };
          navigator.geolocation.getCurrentPosition(geoSuccess);
        }
      });


    </script>

    <!-- TODO: change the default width from 100% -->
    <div class="field">
      <%= f.label :latitude %>
      <%= f.number_field :latitude, step: :any %>
    </div>

    <div class="field">
      <%= f.label :longitude %>
      <%= f.number_field :longitude, step: :any %>
    </div>




    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
