<%= form_for(@image, html: { multipart: true }) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= f.label :attachment %><br>
    <%= f.file_field :attachment %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

    <div class="field">
      <%= f.label :albums, 'Add to albums' %> <br/>
      <select name="album_titles[]" class="album_search_ajax" data-username="<%= current_user.username %>" style="width: 20em;" data-placeholder="Search albums"  multiple="">
        <% @image.albums.each do |img_album| %>
            <option selected="selected"><%= img_album.title %></option>
        <% end %>
      </select>
    </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
