<p id="notice"><%= notice %></p>

<h1><%= @image.title %></h1>

<div id="main_image_background">
  <%= image_tag @image.attachment.url(:original), id: 'main_image' %>
</div>

<%= render partial: 'user/entry', locals: {user: @image.user} %>

<br/>

Albums:
<ul>
  <% @image.albums.order('title').each do |album| %>
      <li><%= link_to album.title, album_show_page_path(username: album.user.username, title: album.title) %></li>
  <% end %>
</ul>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p><br/>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
