<p id="notice"><%= notice %></p>

<h1><%= @image.title %></h1>

<div id="main_image_background">
  <%= image_tag @image.attachment.url(:original), id: 'main_image' %>
</div>

<%= render partial: 'user/entry', locals: {user: @image.user} %>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
