<header>

  <%= render partial: 'layouts/navbar' %>

  <% if current_user.nil? %>

      <div class="col-md-8">
        <%= render partial: 'layouts/carousel' %>
      </div>
      <% else %>
      <div class="pull-right">
        <!-- Sqribbler Search Window -->
        <%= render partial: 'layouts/search' %>
      </div>

   <% end %>
  <div id="notice_messages">
    <span class="notice"><%= notice %></span> <br/>
    <span class="alert"><%= alert %></span>

  </div>
</header>
