<a href="#credits" class="toggle btn btn-primary">UPDATE PROFILE</a>

<div id="credits" class="well hidden">
  <h1>LET'S UPDATE YOUR PROFILE</h1>
  <% if current_user.id == @user.id %>
      <div class="profile_edit_form">
        <%= form_tag user_edit_path(current_user.username), class: 'profile_edit_form', method: :post do %>
            <%= hidden_field_tag 'id', @user.id %>

            <div class="input-group">
              <%= label_tag 'first_name', 'FIRST NAME' %>
              <%= text_field_tag 'first_name', @user.first_name %>
            </div>
            <div class="input-group">
              <%= label_tag 'last_name', 'LAST NAME' %>
              <%= text_field_tag 'last_name', @user.first_name %>
            </div>
            <div class="input-group">
              <%= label_tag 'username', 'USER NAME' %>
              <%= text_field_tag 'username', @user.username %>
            </div>
            <div class="input-group">
              <%= label_tag 'email', 'EMAIL' %>
              <%= text_field_tag 'email', @user.email %>
            </div>
           <!-- <div class="input-group">
              <#%= label_tag 'profile_avatar', 'Profile Image' %>
              <#%= text_field_tag 'profile_avatar', @user.profile_avatar %>
            </div>-->
            <!--<div class="input-group">
                    <%#= label_tag 'affiliation', 'AFFILIATION NAME' %>
                    <%#= text_field 'affiliation', @user.affiliation %>
                  </div>-->
            <div class="input-group">
              <%= label_tag 'location', 'LOCATION' %>
              <%= text_field 'location', @user.location %>
              <!-- <input type="email" class="form-control" id="InputEmailSecond" name="InputEmail" placeholder="Location" required>-->
            </div>
            <div class="input-group">
              <%= label_tag 'about_me', 'ABOUT ME' %><br/>
              <%= text_area 'about_me', @user.about_me, :class => "tinymce" %><br/><br/> <!-- :class => "tinymce"-->
            </div>
            <!--  <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>-->
            <%= submit_tag user_profile_edit_path(@user.username), method: :post %>
            <!-- <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">-->
        <% end %>
      </div>
  <% end %>
</div><br/>

<script>
    $(function () {

        $('.toggle').click(function (event) {
            event.preventDefault();
            var target = $(this).attr('href');
            $(target).toggleClass('hidden show');
        });

    });
</script>