<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scribbler</title>
  <meta name="author" content="Daryl, Kyle, Trenton, Shiloh, Sergei">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/><!--may need to revamp-->
  <!--FONTS-->
  <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag 'http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css' %><!--New ADDED FOR FOOTER REGISTER PAGE----!>
  <%= javascript_include_tag '/assets/jquery-2.2.0.min.js' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'javascripts/jquery-ui1.11.4.custom/jquery/jquery.js' => true %> <!--New ADDED LINK FOR TABS ON MAIN PAGE----!>
  <%= javascript_include_tag '../javascripts/jquery-ui-1.11.4.custom/jquery-ui.min.js' => true %> <!--New ADDED LINK FOR TABS ON MAIN PAGE----!>
  <%= javascript_include_tag 'http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js' => true %> <!--New ADDED FOR FOOTER REGISTER PAGE----!>

  <%= csrf_meta_tags %>
  <!--The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags-->
  <!--Leave the script *beneath* this line intact for the water effect on the Scribbler logo-->

  <% if content_for?(:head) %>
      <%= yield :head %>
  <% end %>

  <script>
    $.noConflict();
      $(document).on("ready page:change", function() {
          $('.demo').ripples({
              resolution: 302,
              dropRadius: 10,
              perturbance: .3,
              interactive: true
          });
      });
  </script>
</head>

<body>
<div class="container <%= 'signed_in_user' unless current_user.nil? %>">

  <%= render partial: 'layouts/header' %>

  <!-- flash messages here -->
  <% if current_user.nil? %>
      <div class="contentWrapper col-lg-4">
        <%= yield %>
      </div>
  <% else %>
      <div class="contentWrapper col-lg-12">
        <%= yield %>
      </div>
  <% end %>

</div><!-- END CONTAINER -->
<audio id="chatAudio"><source src="../sounds/notification.mp3" type="audio/mpeg"></audio><!--needed?-->
<hr>

<%= render partial: 'layouts/footer' %>

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
</script>
</body>
</html>
