<!DOCTYPE html>
<html>
<head>
  <title>Sqribbler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navWrapper">
    <%= render partial: 'layouts/navbar' %>
</div>

<div id="notice_messages">
    <span class="notice"><%= notice %></span> <br/>
    <span class="alert"><%= alert %></span>
</div>

<div class="contentWrapper">
    <%= yield %>
</div>

<div class="footerWrapper">
  <%= render partial: 'layouts/footer' %>
</div>
</body>
</html>
