<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scribbler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--FONTS-->

  <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js' => true %> <!--New ADDED FOR FOOTER REGISTER PAGE----!>

  <%= csrf_meta_tags %>
  <!--The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags-->
  <!--Leave the script *beneath* this line intact for the water effect on the Scribbler logo-->
  <script>
      $.noConflict();
      $(document).ready(function() {
          $('.demo').ripples({
              resolution: 302,
              dropRadius: 10,
              perturbance: .1,
              interactive: true
          });
      });
  </script>
</head>

<body>
<div class="container <%= 'signed_in_user' unless current_user.nil? %>">

  <%= render partial: 'layouts/header' %>



  <% if current_user.nil? %>
      <div class="contentWrapper col-lg-4">
        <%= yield %>
      </div>
  <% else %>
      <div class="contentWrapper col-lg-12">
        <%= yield %>
      </div>
  <% end %>



</div><!-- END CONTAINER -->
<hr>

<%= render partial: 'layouts/footer' %>

</body>
</html>
